@page "/import"
@attribute [Authorize]
<h1>Import</h1>

<div class="text-center">

    <div class="row">
        <div class="col-md-2 col">
            <span>Account:</span><br />
            <RadzenDropDown TValue="int?" @bind-Value="@FilterAccount" Data="@Accounts"
                            TextProperty="Name" ValueProperty="ID"
                            AllowClear=false Placeholder="All accounts"></RadzenDropDown>
        </div>
        <div class="col-md-2 col">
            <span>Importer:</span><br />
            <RadzenDropDown TValue="string" @bind-Value="@FilterImporter" Data="@Importers"
                            AllowClear=false Placeholder="Select service..."></RadzenDropDown>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col">
            <InputFile OnChange="@(args => LoadFiles(args))" />
        </div>
        <div class="col-md-12 col">
            <RadzenButton Text="Import" Click=@(args => OnSubmit()) class="rz-mt-4" />
        </div>
    </div>

</div>
