@page "/settings/budgetplan-rules"
@attribute [Authorize]
<h1>Budget Plan Rules</h1>

<div class="row">
    <div class="col-md-12 col">
        <span>Budget Plan:</span><br />
        <RadzenDropDown TValue="int?" @bind-Value="@FilterBudgetPlan" Data="@BudgetPlans"
                        TextProperty="Name" ValueProperty="Id"
                        AllowClear=false Placeholder="Select Budget Plan" Change="@((object x) => OnBudgetPlanChanged(Convert.ToInt32(x)))"></RadzenDropDown>
    </div>
</div>
@*
<button class="btn btn-success" @onclick="SaveBudgetPlan">
    <span class="oi oi-command" aria-hidden="true"></span>SAVE
</button>
*@

<div class="row pt-3">
    <div class="col-md-4 col">
        <RadzenTree Data=@Data Expand=@OnTreeItemExpand Style="height: auto; width: 100%" Change="@OnTreeItemClick">
            <RadzenTreeLevel Context="child" TextProperty="Description" ChildrenProperty="Children" HasChildren="@(e => (e as MoneyCategory).Children.Any())" />
        </RadzenTree>
    </div>

    <div class="col-md-4 col">
        <RadzenDataGrid TItem="RuleViewModel" Data="@Rules" RowClick="@OnGridRowClick" RowRender="@OnGridRowDatabind" >
            <HeaderTemplate>
                <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle" Text="Add Rule" Click="@AddRule" />
            </HeaderTemplate>
            <Columns>
                <RadzenDataGridColumn Property="@nameof(RuleViewModel.Filter)" Title="Filter" Frozen="true" Width="160px" />
                <RadzenDataGridColumn Property="@nameof(RuleViewModel.Description)" Title="Description" Width="160px" />
                <RadzenDataGridColumn Property="@nameof(RuleViewModel.Type)" Title="Budget Type" Width="200px" />
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
